.Weather {
  border: 1px solid #d3d3d3;
  font-family: Arial, sans-serif;
  color: rgb(135, 135, 135);
  margin: 30px auto;
  max-width: 600px;
  border-radius: 16px;
  box-shadow: 0 30px 50px #41326414;
  color: white;
  padding: 60px;
  padding-top: 30px;
}

.Weather h1 {
  color: rgb(33, 33, 33);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  margin: 20px 0 10px 0;
}

.Weather li {
  list-style: none;
  size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather svg {
  margin-right: 5px;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 60px;
  line-height: 64px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;

  line-height: 1;
}
.Weather .btn {
  background-color: rgb(1, 141, 129, 0.6);

  color: white;
  backdrop-filter: 10px;
}
